{% extends 'quiz/base.html' %}
{% block title %}Log in{% endblock %}

{% block content %}

<div class="container">
    {% for msg in messages %}
    <br>
    <h3 style="text-align: center;">** {{ msg }}</h3>
    {% endfor %}
    <br>
    <h1 style="text-align: center;">Log In</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">{{ form.username.label }}</th>
                <td>{{ form.username }}</td>

              </tr>
              <tr>
                <th scope="row">{{ form.password.label }}</th>
                <td>{{ form.password }}</td>

              </tr>
            </tbody>
          </table>
          {{ form.errors }}
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <br>
    <div class="text-center">
        <a href="{% url 'sign_up' %}">
            <button type="button" style="text-align: center;" class="btn btn-dark">
                Sign up instead
            </button></a>
    </div>

</div>
{% endblock %}