{% extends 'quiz/base.html' %}
{% block title %}Index{% endblock %}

{% block content %}
<br>
<div class="container">
    <h3>Hello {{user.username}}</h3>
    
    <table class="table ">
        <tbody>
          {% for cat in categories.all %}

          <tr>
            <td> <a href="{% url 'questions' cat.id %}" style="color :black;text-decoration:none;"> - {{ cat.title }} </a></td>
            <td>
            {% for key, value in prog_dict.items %}
            {% if key == cat.id %}
            Score - {{ value.0 }}/{{ value.1 }}
            {% endif %}
            {% endfor %}
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
        
    
</div>

{% endblock %}