{% extends 'quiz/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container">
    <h1 style="text-align: center;">Sign up</h1>
    <form method="POST" action="">
        {% csrf_token %}

        <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">{{ form.username.label }}</th>
                <td>{{ form.username }}</td>

              </tr>
              <tr>
                <th scope="row">{{ form.email.label }}</th>
                <td>{{ form.email }}</td>

              </tr>
              <tr>
                <th scope="row">{{ form.password1.label }}</th>
                <td>{{ form.password1 }}</td>

              </tr>
              <tr>
                <th scope="row">{{ form.password2.label }}</th>
                <td>{{ form.password2 }}</td>

              </tr>
            </tbody>
          </table>
          <p>{{ form.errors }}</p>
        <input type="submit" class="btn btn-dark" name="Create User"></input>
    </form>
    <br>
    <div class="text-center">
        <a href="/account/login/">
            <button type="button" style="text-align: center;" class="btn btn-dark">
                Log in instead
            </button></a>
    </div>

</div>
{% endblock %}